
ChowNow.xcodeproj/project.xcworkspace/xcuserdata/victorruiz.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate

Pods/

.DS_Store

Package.resolved
Podfile.lock

## User settings
xcuserdata/
xcshareddata/
*.xcuserstate

ChowNow.xcodeproj/project.xcworkspace/xcuserdata/victorruiz.xcuserdatad/UserInterfaceState.xcuserstate
